@model RentalOfProperty.WebUserInterface.Models.User.ChangePasswordView

@{
    ViewData["Title"] = Localizer["ChangeUserPassword"];
}

<link rel="stylesheet" href="~/css/Users/Users.css" />

<div class="p-x-1 p-y-3" style="height:90vh">
    <form asp-action="ChangePassword" class="card card-block m-x-auto bg-faded form-width">
        <h4 class="m-b-1 text-xs-center">@Localizer["ChangeUserPassword"]</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group input-group has-float-label">
            <input asp-for="OldPassword" class="form-control" placeholder=@Html.DisplayNameFor(model => model.OldPassword) />
            <label asp-for="OldPassword"></label>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group input-group has-float-label">
            <input asp-for="NewPassword" class="form-control" placeholder=@Html.DisplayNameFor(model => model.NewPassword) />
            <label asp-for="NewPassword"></label>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group input-group has-float-label">
            <input asp-for="NewPasswordConfirm" class="form-control" placeholder=@Html.DisplayNameFor(model => model.NewPasswordConfirm) />
            <label asp-for="NewPasswordConfirm"></label>
            <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
        </div>
        <div class="text-xs-center">
            <button class="btn btn-block btn-primary" type="submit">@Localizer["ChangePassword"]</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
