@model RentalOfProperty.WebUserInterface.Models.Ad.AdsPageView

<script src="/js/_AdsPage.js"></script>
@{
    var resultText = JsonSerializer.Serialize(Localizer["SuccessfulLoad"].Value);

    if (Model.IsSuccess)
    {
        <script>
        let resultText =JSON.parse(JSON.stringify(@Html.Raw(resultText)));
        outputLoadResult(resultText);
        </script>
        <form asp-></form>
    }
}